<div class="text-center">
  <div class="d-flex justify-content-center">
    <%= @opinions.each do |opinion| %>
      <%= opinion.user.fullname %> <br/>
      <%= opinion.text %>
    <% end %>
  </div>
</div>