<section class = 'main-mid'>
  <div class = 'cover-image'>
    <%= image_check_cover(@user.coverimage) %>
  </div>
  <div class = 'recent-tweets'>  
    <h6 class = 'p-4'> YOUR TWEETS </h6>
    <%= render 'opinions/tweets' %>
  </div>
</section>