<section class = 'main-mid'>
  <div class = 'cover-image'>
    <%= link_to image_tag(@user.coverimage,  class: 'cover-image'), user_path(@user.id) %>
  </div>
  <div class = 'recent-tweets border border-dark'>
    <p> YOUR TWEETS </p>
    <%= render 'opinions/tweets' %>
  </div>
</section>