<section class = 'main-mid'>
  <div class = 'pl-4 pt-4'>
    <p> TWEETS </p>
  </div>
  <div class = 'tweet-field'>
    <%= render 'opinions/opinion' %>
  </div>
  <div class = 'recent-tweets border border-dark'>
    <p> RECENT TWEETS </p>
  <%= render 'opinions/all-opinions' %>
  </div>
</section>