<section class = 'main-mid'>
  <div class = 'border border-warning'>
    <p> TWEETS </p>
  </div>
  <div class = 'tweet-field'>
    <p> TWEET SOMETHING... </p>
    <%= render 'opinions/opinion' %>
  </div>
  <div class = 'recent-tweets border border-dark'>
    <p> RECENT TWEETS </p>
    <%= render 'opinions/tweets' %>
  </div>
</section>