<section class = 'main-mid'>
  <div class = 'border border-warning'>
    <p> TWEETS </p>
  </div>
  <div class = 'tweet-field border border-info'>
    <p> TWEET SOMETHING... </p>
  </div>
  <div class = 'recent-tweets border border-dark'>
    <p> RECENT TWEETS </p>
  </div>
</section>