<section class = 'right-bar2'>
<div class = 'user-info border border-dark'>
  <p> PROFILE INFO </p>
<div>
<div class = 'follow-info border border-info'>
  <p> 
    FOLLOW </br>
    5. When the user opens the profile page (see the *Userpage* screenshot above), they can see:
    1. Left-side menu (includes only links to pages that are implemented).
  </p>
<div>
<div class = 'follow-header border border-dark'>
  <p> FOLOWED BY </p>
<div>
</section>