<section class = 'right-bar'>
<div class = 'user-info border border-dark'>
  <p> WHO TO FOLLOW </p>
<div>
<div class = 'follow-info border border-info'>
  <p> 
    USERS </br>
    5. When the user opens the profile page (see the *Userpage* screenshot above), they can see:
    1. Left-side menu (includes only links to pages that are implemented).
  </p>
<div>
</section>