
  <div class = 'right-bar'>
    <div class = 'user-info-index'>
      <p class = 'font-weight-bold p-4'> WHO TO FOLLOW </p>
    </div>
    <div class = 'follow-info border-top p-3'>
      <% @follow_users.each do |follow| %>
        <% if follow.id != current_user.id %>
          <%#= link_to image_tag(follow.photo,  class: 'tweet-photo rounded-circle'), user_path(follow.id) %>
            <% if follow.follower?(current_user, follow.id) %>
              <%=link_to "<i class='text-warning fas fa-minus-circle fa-2x'></i>".html_safe, following_path(followed_id: follow.id), method: :delete %>
            <% else %>
            <div class="d-flex justify-content-left p-3">
              <h4><%= link_to follow.fullname, user_path(follow.id), class: 'pr-4' %></h4>
              
            <% if follow.id != current_user.id %>
              <%=link_to "<i class='text-success fas fa-plus-circle fa-2x d-flex justify-content-center'></i>".html_safe, followings_path(followed_id: follow.id), method: :post %>
            </div>
            <% end %>
          <% end %>
        <% end %>
      <% end %>
    <div>
  </div>
