<section class = 'right-bar2'>
  <div class = 'user-info photo-name'> 
    <div class ='profile-photo-show p-4 ml-auto'>
      <%= link_to image_tag(current_user.photo,  class: 'profile-photo w-100 h-100 rounded'), user_path(current_user) %>
    </div>
    <div class = 'list ml-auto mr-auto pt-3'>
      <i class="fas fa-list fa-lg text-primary pt-2"></i>
    </div>
    <div class= 'name-show p-4 ml-4'>
      <%=link_to current_user.fullname.upcase, user_path(current_user.id), class: 'text-dark font-weight-bold' %> <br />
      <%= current_user.username %>
    </div>
  </div>
  <div class = 'follow-info border border-info'>
    <p> 
      FOLLOW </br>
      5. When the user opens the profile page (see the *Userpage* screenshot above), they can see:
      1. Left-side menu (includes only links to pages that are implemented).
    </p>
  <div>
  <div class = 'follow-header border border-dark'>
    <p> FOLOWED BY </p>
  <div>
</section>