<section class = 'who-to-follow'>
  <div class = 'right-bar'>
    <div class = 'user-info border border-dark'>
      <p class = 'font-weight-bold p-3'> WHO TO FOLLOW </p>
    </div>
    <div class = 'follow-info border border-info p-3'>
      <p> USERS </p>
    <div>
  </div>
</section>