<div class = 'container-fluid p-3'>

  <div class = 'user-index'>
    <%= render 'users/left-sidebar' %>
  <div class = 'main-sidebar'>
    <div class = 'nav-section'>
      <%= render 'layouts/navbar' %>
    </div>
    <div class = 'tweets'>
    <%= render 'users/main-content' %>
    <%= render 'users/right-bar' %>
    </div>
  </div>
</div>
