// Place all the styles related to the sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.textarea,
.login-btn {
  width: 20%;
}

.sign-up-btn {
  width: 100%;
}

.new-account {
  font-size: 1.5rem;
}

.sign-in-twitter,
.sign-up-twitter {
  font-size: 2rem;
}

.sign-in-quote,
.sign-up-quote {
  font-size: 2.5rem;
}
