// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.user-index {
    display: grid;
    grid-template-columns: 0.8fr 3fr;
}

.tweets {
    display: grid;
    grid-template-columns: 3fr 1fr;
}

.main-mid {
    display: grid;
    grid-template-rows: 1fr;
}

.left-sidebar {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: minmax(2rem, auto);
    grid-template-areas:
    'following followers'
    'home home'
    'profile profile'
    'logout logout';
}

.user {
    grid-area: user;
}

.following {
    grid-area: following;
}

.followers {
    grid-area: followers;
}

.home {
    grid-area: home;
}

.profile {
    grid-area: profile;
}

.logout {
    grid-area: logout;
}

.right-bar2 {
    display: grid;
    grid-template-rows: 1fr;
}

.left-aside {
    background-color: #213246;
}

.photo-name {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.profile-img-index {
    width: 6rem;
}

.profile-img-show {
    width: 10rem;
}

.user-info {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas: 
    'profile-show profile-show'
    'name name';
}

.profile-show {
    grid-area: profile-show;
}

.name-show {
    grid-area: name;
    justify-content: center;
}

.identifier,
.name {
    padding-left: 6rem;
}

.tweet-photo {
    width: 5rem;
    height: 5rem;
}

.name,
.name-show {
    font-size: large;
}

.cover-image {
    width: 100%;
    height: 28rem;
}

.user-details {
    font-size: 1.5rem;
}

.follow-count {
    margin-left: 0.8rem;
}

.users-photo-right-show {
    width: 5rem;
}

@media screen and (max-width: 768px) {
    .left-aside {
        display: none;
    }
}
